@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgb(12, 10, 10) 0%, rgb(10, 8, 7) 50%, rgb(20, 15, 15) 100%);
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.cabecalho h1 {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 35px;
}

.navbar ul {
    display: flex;
    gap: 50px;
}

.navbar li {
    list-style: none;
}

.nav-icon {
    display: block;
    height: 25px;
    filter: invert(100%);
}

.banner img {
    display: block;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.secao1 {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.secao1 img {
    border-bottom-left-radius: 20px;
}

.secao1-container-direita {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 10, 10);
    width: 100%;
    border-bottom-right-radius: 20px;
}

.secao1-container-direita h2 {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 300;
    border-bottom: 2px solid white;
}

#folha1 {
    height: 70px;
    filter: invert(100%);
    transform: rotate(-20deg) scaleX(-1);
    margin-right: 20px;   
}

#folha2 {
    height: 70px;
    filter: invert(100%);
    transform: rotate(20deg);
    margin-left: 20px;   
}