@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 10, 10);
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(12, 10, 10);

    h1 {
        font-family: "Lobster", sans-serif;
        color: white;
        font-size: 35px;
    }
}

.navbar {
    ul {
        display: flex;
        gap: 50px;
    }

    li {
        list-style: none;
    }

    .nav-icon {
        display: block;
        height: 25px;
        filter: invert(100%);
    }
}

.banner img {
    display: block;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.section-1 {
    display: flex;
    flex-direction: row;
    height: 400px;

    img {
        border-bottom-left-radius: 30px;
    }

    .section-1-container-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(5, 5, 5);
        width: 100%;
        gap: 80px;
        border-bottom-right-radius: 30px;

        h2 {
            font-family: "Lobster", sans-serif;
            color: white;
            font-size: 40px;
            font-weight: 300;
            border-bottom: 2px solid white;
        }
    }

    .section-1-container-right-up {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 30px;

        #leaf-icon-1 {
            height: 70px;
            filter: invert(100%);
            transform: rotate(-20deg) scaleX(-1);
            margin-right: 20px;
        }

        #leaf-icon-2 {
            height: 70px;
            filter: invert(100%);
            transform: rotate(20deg);
            margin-left: 20px;
        }
    }

    .section-1-container-right-down {
        font-family: "Poppins", sans-serif;
        color: white;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
}

.section-2 {
    background: linear-gradient(180deg, rgb(12, 10, 10) 5%, rgb(20, 18, 18) 20%, rgb(32, 29, 29) 40%, rgb(32, 26, 26) 60%, rgb(53, 41, 41) 80%);
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: "Lobster", sans-serif;
        color: white;
        font-size: 60px;
        text-align: center;
    }

    .featured {
        display: flex;
        margin-top: 100px;
        gap: 180px;

        img {
            width: 300px;
        }

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            color: white;
            text-align: center;
            margin-top: 30px;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 1.3rem;
            color: white;
            text-align: center;
            margin-top: 10px;
        }
    }

    button {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 80px;
        border: 1px solid white;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        background-color: transparent;

        &:hover {
            color: rgb(230, 57, 57);
        }
    }
}

.section-3 {
    background-image: url(../img/2149256897.jpg);
    background-size: cover;
    background-position: 0% 30%;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid white;
    border-bottom: 1px solid white;

    h1 {
        font-family: "Lobster", sans-serif;
        color: white;
        font-size: 60px;
        font-weight: 300;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(12, 10, 10);

    h3 {
        font-family: "Lobster", sans-serif;
        font-weight: 100;
        color: white;
        font-size: 1.5rem;
    }
}